<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Web App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/nav.css' %}">
</head>
<nav>
    <ul>
        <li><a href="/index/">Home</a></li>
        <li><a href="#">Playlists</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/spotify/">Song Search</a></li>
        <li><a href="/top-tracks/">Personal Song Statistics</a></li>
        <li><a href="/top-artists/">Personal Artists Statistics</a></li>
        <li><a href="/jokes/">Personal Jokes</a></li>
    </ul>
</nav>
<div class="hamburger" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
</div>