body {
    background-image: url('../Images/BackgroundAlt.png');
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full height of the viewport */
    margin: 0;
    font-family: Arial, sans-serif; /* Optional for cleaner font */
    background-color: #000000; /* Add a subtle background color if needed */
}

header {
    position: relative; /* Default positioning */
    z-index: 1; /* Ensure it's below app-banner if needed */
    background-color: #fff; /* Navbar background */
}

main {
    margin: 0 auto;
    padding-top: 20px; /* Add padding equivalent to banner height */
}

.landing-content{
    width: 50%;
    padding: 25px;
    background-color: rgba(17, 24, 39, 1);
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    color: rgba(243, 244, 246, 1);
}

.app-banner {
    position: fixed; /* Ensures it always stays at the top */
    top: 0; /* Aligns it to the top of the window */
    left: 0; /* Aligns it to the left of the window */
    width: 100%; /* Makes it stretch across the full width */
    background-color: #000000; /* Adjust background color as needed */
    color: #ffffff; /* Text color */
    padding: 5px 10px; /* Add some spacing inside */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for a nice effect */
    z-index: 1000; /* Ensures it stays above other elements */
    text-align: center; /* Keeps text in the center horizontally */
}

.app-banner h1{
    display: block;
}

.main-content {
    padding: 1rem; /* Add padding to ensure spacing */
    margin-top: 0; /* No overlapping */
}