<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Web App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Artists</a></li>
                <li><a href="#">Playlists</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/spotify/">Song Search</a></li>
                <li><a href="/top-tracks/">Personal Song Statistics</a></li>
                <li><a href="/top-artists/">Personal Artists Statistics</a></li>
                <li><div class="close-btn" onclick="toggleMenu()">X</div></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <main>
        <section>
            <h1 id = "HomeBackground">Welcome {{ user.username }} to SoundScape</h1>
        </section>
        <section>
            <h2>Featured Artists</h2>
            <ul>
                <li>Artist 1</li>
                <li>Artist 2</li>
                <li>Artist 3</li>
            </ul>
        </section>
        
        <section>
            <h2>Popular Playlists</h2>
            <ul>
                <li>Playlist 1</li>
                <li>Playlist 2</li>
                <li>Playlist 3</li>
            </ul>
        </section>
    </main>
    {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout</a>
    {% endif %}
    <footer>
        <p>&copy; 2022 Music Web App. All rights reserved.</p>
    </footer>
</body>
<script>
    function toggleMenu() {
        const nav = document.querySelector('nav ul');
        const closeBtn = document.querySelector('.close-btn');
        const isMenuOpen = nav.style.display === 'flex';
        nav.style.display = isMenuOpen ? 'none' : 'flex';
        closeBtn.style.display = isMenuOpen ? 'none' : 'block';
    }
</script>
</html>