{% extends "global/base.html" %}

{% load i18n %}

{% block content %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}SoundScape{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    </head>
    <body>
        <div class="landing-content">
            <h1>Welcome to SoundScape!</h1>
            <p>Already have an account? <a href="{% url 'account_login' %}">Log in</a></p>
            <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a></p>
        </div>
    </body>

{% endblock %}
