{% extends "global/base.html" %}

{% load i18n %}

{% block content %}
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Music Web App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
    </head>
    {% include "global/nav.html" %}
    <main>
        <section>
            <h1 id = "HomeBackground">Welcome {{ user.username }} to SoundScape</h1>
        </section>
        <section>
            <h2>Featured Artists</h2>
            <ul>
                <li>Artist 1</li>
                <li>Artist 2</li>
                <li>Artist 3</li>
            </ul>
        </section>

        <section>
            <h2>Popular Playlists</h2>
            <ul>
                <li>Playlist 1</li>
                <li>Playlist 2</li>
                <li>Playlist 3</li>
            </ul>
        </section>
        {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}">Logout</a>
        {% endif %}
        <script>
            function toggleMenu() {
                const nav = document.querySelector('nav ul');
                const hamburger = document.querySelector('.hamburger');
                nav.classList.toggle('active');
                hamburger.classList.toggle('active');
            }

            document.addEventListener('click', function(event) {
                const nav = document.querySelector('nav ul');
                const hamburger = document.querySelector('.hamburger');
                const isClickInside = nav.contains(event.target) || hamburger.contains(event.target);

                if (!isClickInside) {
                    nav.classList.remove('active');
                    hamburger.classList.remove('active');
                }
            });

        </script>
    </main>

{% endblock %}