{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="form-container">
        <h1>{% trans "Log In" %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans "Log In" %}</button>
        </form>
        <p>
            {% trans "Don't have an account?" %}
            <a href="{% url 'account_signup' %}">{% trans "Sign Up here" %}</a>.
        </p>
    </div>
{% endblock %}