{% extends "global/base.html" %}

{% load i18n %}

{% block content %}
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SoundScape</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/user_auth.css' %}">
    </head>
    <div class="form-container">
        <h1>{% trans "Log In" %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans "Log In" %}</button>
        </form>
        <p>
            {% trans "Don't have an account?" %}
            <a href="{% url 'account_signup' %}">{% trans "Sign Up here" %}</a>.
        </p>
    </div>
{% endblock %}