{% extends "global/base.html" %}

{% load i18n %}

{% block content %}
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SoundScape</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/user_auth.css' %}">
    </head>
    <main>
        <div class="form-container">
            <h1>{% trans "Sign Up" %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
            </form>
            <p>
                {% trans "Already have an account?" %}
                <a href="{% url 'account_login' %}">{% trans "Log In here" %}</a>.
            </p>
        </div>
    </main>
{% endblock %}